<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
  </head>
  <body>
      <button id="press_now">Press Now ?</button>
      <ul id="rssfeed"></ul>
      <script type="text/javascript">
        window.onload = function() {
            console.log(window.common);
            
            window.common.listener('press_now','click',function(){
                alert("Button PRESSED!");
            });

            window.common.getRSS('https://careersidekick.com/blog/feed/','rssfeed');

        }
      </script>
  </body>
</html>